<header class="header">
  <div class="nav navbar-left">
    <%= link_to 'YUBY', root_path, { :class => "app-logo"} %>
    <!--<a href="#" class="app-logo">YUBY</a>-->
  </div>
    <div class="nav navbar-right">
    <div class="nav-item registration">新規登録</div>
    <div class="nav-item login">ログイン</div>
    </div>
</header>
